nav{
    height: 100vh;
    width: 330px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    margin-left: 1em;
}
nav li{
    list-style: none;
    font-weight: bold;
    width: 100%;
}
nav hr{
    border: 2px solid grey;
}
nav li a{
    padding: .5em 0;
    display: flex;
    align-items: center;
    gap: .3em;
    padding-left: .8em;
    width: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 4px grey;
    transition: all .7s;
    font-size: 1.1em;
}
nav li a:hover{
    background-color: #c8edfd;
}
nav form button{
    padding: .5em 0;
    display: flex;
    align-items: center;
    gap: .3em;
    padding-left: .8em;
    width: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 4px grey;
    text-align: left;
    font-weight: bold;
    transition: all .7s;
}
nav form button:hover{
    background-color: #c8edfd;
}

.Layout{
    margin-left: 380px;
    background-color: rgb(228, 239, 240);
    width: calc(100vw - 380px);
    min-height: 100vh;
    max-height: fit-content;
}