.userDiv{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background: rgba(203, 224, 224, 0.91);
    width: fit-content;
    margin: auto;
    padding: 1em 3em;
    border-radius: 20px;
    box-shadow: 0 0 8px grey;
    flex-wrap: wrap;
}
.userDiv b{
    color: rgb(0, 179, 255);
}
.userDiv hr{
    border: 1px solid gray;
    width: 100%;
}
.userDiv .imgUser{
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px grey;
}
.userDiv .userEmail{
    font-size: 1.8em;
    font-weight: bold;
    width: 100%;
    height: fit-content; 
    display: flex;
    align-items: center;
    gap: .3em;

}
.userDiv .userName{
    flex-wrap: wrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size: 1.8em;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    gap: .3em;
}